{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "mocha": true,
    "node": true
  },
  "rules": {
   "consistent-return": "off",
   "comma-dangle": "off",
   "class-methods-use-this": "off",
   "new-cap": "off",
   "no-underscore-dangle": "off",
   "no-plusplus": "off",
   "import/prefer-default-export": "off",
   "linebreak-style": "off"
  }
}
